  <div class="container">
  <div class="about-container">
  <h2>このサイトについて</h2><br>
  <h4>石神井公園？</h4>
  <p>「石神井公園」は、東京都練馬区にある都立公園。井の頭池、善福寺池と並び、武蔵野三大湧水池（ゆうすいち）として知られており、平日休日問わず、多くの人々が行楽に訪れる人気のスポットです。 都内でも有数の自然豊かな公園となっており、野鳥などの撮影をするために非常に多くのカメラマンで賑わっています。
</p>
  <h4>どんなことをするサイトなの？</h4>
  <p>まずはユーザー登録をして、石神井公園の中で撮影した写真をUPしてみよう！他ユーザーのUPした写真を見たり、コメントをしたりして楽しむことができます。</p>
  <h4 class="last">※注意点</h4>
  <p>このサイトはプログラミング学習用に制作されたものです。一般的なWebサイトとしては機能しておりませんのでご了承ください。</p>
  </div>
  </div>
