<div class='main'>
    <div class='main-visual'>
      <h2 class='service-title'>
        石神井の森図鑑
      </h2>
      <p class='service-explain'>
        石神井公園で撮った写真、
      </p>
      <p class='service-explain'>
        見せてもらってもいいですか？
      </p>
      </div>
    </div>
</div>